<div class="absolute w-full h-full">
 
      <div class="p-7 w-[50%] h-[50%] m-auto">
      <h1><b>PDF file compressor:</b></h1>
      <form [formGroup]="applyForm" (submit)="submitApplication()">

        <input type="file" id="fileInput" multiple class="block" (change)="onChange($event)" formControlName ="fileInput"> 
        <input (click)="onUpload()" type="submit" class="border-2 hover:bg-slate-100" value="submit">
      </form>
      <p>{{fileSize}}</p>
    </div>

    <div class="container text-center jumbotron"
    *ngIf="shortLink"> 
    <h2> Visit Here</h2> 
    <a href="{{shortLink}}">{{shortLink}}</a> 
</div> 
  
<!--Flag variable is used here-->
<div class="container" *ngIf="loading"> 
    <h3>Loading ...</h3> 
</div> 
  
</div>

